<form action="form" method="POST">
    <input type="text" name="nom" placeholder="votre nom"> </BR>
    <input type="text" name="prenom" placeholder="votre prenom"> </BR>
    <input type="email" name="email" placeholder="votre email"> </BR>
     <textarea name="message" placeholder="votre message"></textarea>
    <button type="submit">ENVOYER</button>
</form>